.body, html{
    font-family: Roboto;
    margin: 0;
    padding: 0;
    height: 100%;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    width: 1920px;
    
}
.main{
    flex: 1 1 auto;
}
.header {
    height: 106px;
    width: 1920px;
    background: linear-gradient(270deg, #3E443A 0%, #576484 100%);
    color: #FFFFFF;
}
.header-container {
    display: flex;
    justify-content: space-between;
    margin: auto 140px;
    padding-top: 15px;
    color: #FFFFFF;
}
.logo {
    margin-top: 27px;
    margin-right: 133px;
    width: 144px;
    height: 24px;
    display: flex;
    flex-direction: row;
}
.links {
    margin-top: 20px;
    margin-left: 97px;
    display: flex;
    align-items: self-start;
    justify-content: space-between;
}
.search-form-sizes {
    max-width: 667px;
    min-width: 300px;
}
.search {
    width: 667px;
    height: 44px;
    position: relative;
}
.header-search-checkbox {
    display: flex;
    margin-top: 10px;
}
.checkbox-block {
    display: flex;
    align-items: center;
    margin-right: 25px;
}
.checkbox-text {
    font-size: 14px;
}
.header-menu{
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.header-menu-item-select {
    background: transparent;
    color: #fff;
    border: none;
}
.header-menu-item-image {
    margin-right: 5px;
}
.header-menu-item {
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.item-cart {
    position: absolute;
    top: -20px;
    left: -10px;
    font-size: 12px;
    padding: 0 10px;
    border-radius: 35%;
    background: #329DCC;
}
.block-cart {
    position: relative;
}

.wrapper-container{
    margin-left: 417px;
    margin-right: 418px;
    margin-top: 40px;
}
.block-flex{
    display:flex;
    justify-content: space-between ;
}
.title-contact{
    font-family: roboto;
    color: #386E95;
    margin-top: 60px;
    margin-bottom: 30px;
    size: 22px;
    line-height:20px;
}
.title-reach{
    font-family: roboto;
    font-style: normal;
    color: #386E95;
    margin-top: 60px;
    margin-bottom: 30px;
    size: 24px;
    line-height:20px;
}
.table{
    width: 383px;
    height: 508px;
}
.table-text{
    margin-left: 13px;
}
.table-text-second{
    margin-left: 28px;
    
}
.flag-text{
    margin-left: 18px;
}
.messengers{
    margin-left: 22px;
}
.input_data{
    box-sizing: border-box;
    height: 38px;
    width: 388px;
    top: 20px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
textarea{
    height: 114px;
    width: 388px;
    resize: none;
    
}
.button{
    font-family: roboto;
    color: #fff;
    background-color: #386E95;
    width: 388px;
    height: 36px;
    margin-top: 24px;
    cursor: pointer;
}
.footer{
    background: linear-gradient(270deg, #3E443A 0%, #576484 100%);
    color: #FFFFFF;
    min-height: 146px;
    width: 1920px;
    margin-top: 346px;
}
.footer-contacts-info{
    margin-top: 20px;
    margin-left: 140px;
    margin-bottom: 22px;
    margin-right: 109px;
    
}
.footer-image{
    margin-right: 13px;
}
.copyright{
    color: #FFFFFF;
    opacity: 50%;
    size: 10px;
    margin-bottom: 22px;
}
.h4{
    font-size: 12px;
    color: #FFFFFF;
}
.footer-blocks{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
}
.footer-links-block{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 114px 0px 0px;
    gap: 60px;
    width: 737px;
    height: 78px;
    margin-top: 20px;
}
.footer-links-headings{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}
.footer-links-text{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    opacity: 0.6;
}
.footer-payment-images{
    margin-top: 26px;
    margin-right: 12px;

}
.footer-crypto-container{
    display: flex;
    align-items: space between;
    justify-content: end;
}
.footer-crypto-images{
    display: flex;
    align-items: center;
    margin-left: 16px;
}
.footer-crypto{
    margin-right: 10px; 
}