body{
    font-family: Roboto;
}
.header {
    display: flex;
    /*width: 1920px;*/
    height: 106px;
    left: calc(50% - 1920px/2);
    top: 0px;
    background: linear-gradient(270deg, #3E443A 0%, #576484 100%);
    color: #FFFFFF;
}
.logo {
    margin-top: 27px;
    margin-left: 140px;
    margin-right: 133px;
    width: 144px;
    height: 24px;
    display: flex;
    flex-direction: row;
}
.links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    margin-top: 20px;
    gap: 16px;
    width: 610px;
    height: 38px;
    right: 140px;
    top: 20px;
}
.class{
    font-weight: 500;
    size: 22px;
    line-height:20px;
    color: #386E95;
}
.search1{
    margin-right: 86px;
    margin-top: 20px;
    left: 417px;
    width: 667px;
    height: 76px;
    padding: 4px;
    box-sizing: border-box;
    /*width: 667px;*/
    height: 44px;
    display: flex;
    flex-direction: column;
    gap: 8px;

}
.search2{
display: flex;
flex-direction: row;
}
.wrapper{
    margin-left: 417px;
    margin-top: 40px;
}
.block_flex{
    display:flex;
    justify-content: space-between;

}

/* Заголовок Contact Us */

.title_contact{
    font-family: roboto;
    color: #386E95;
    margin-top: 60px;
    margin-bottom: 30px;
    size: 22px;
    line-height:20px;
}

.title_reach{
    font-family: roboto;
    font-style: normal;
    color: #386E95;
    margin-top: 60px;
    margin-bottom: 30px;
    size: 24px;
    line-height:20px;
}

/* Иконки слева от текста */
.section_icons_position{
    position: relative;
    padding: 0px 13px 0px 5px;
}
.section_icons_position::before{
    width: 13.33px;
    height: 10px;
    position: absolute;
    left: 5px;
}

/* Отступ от текста */
.service_info{
    margin-bottom: 42px;

    /* Отступ от номеров */
}
.phone_numbers{
    margin-bottom: 42px;

}

.reach{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px 0px 0px;
    gap: 64px;
    width: 388px;
    height: 420px;
    left: 1114px;
    top: 146px;
}

.reach_out{
    margin-right: 418px;

}
/* Размеры полей для ввода информации */
.input_data{
    box-sizing: border-box;
    height: 38px;
    width: 388px;
    top: 20px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.input_container{
    height: 144px;
    width: 388px;
}
