body{
    font-family: Roboto;
    margin: 0;
    padding: 0;
}
.header {
    height: 106px;
    background: linear-gradient(270deg, #3E443A 0%, #576484 100%);
    color: #FFFFFF;
}
.header-container {
    display: flex;
    justify-content: space-between;
    margin: auto 140px;
    padding-top: 15px;
    color: #FFFFFF;
}
.logo {
    margin-top: 27px;
    margin-left: 140px;
    margin-right: 133px;
    width: 144px;
    height: 24px;
    display: flex;
    flex-direction: row;
}
.links {
    margin-top: 20px;
    margin-left: 97px;
    display: flex;
    align-items: self-start;
    justify-content: space-between;
}
.search-form-sizes {
    max-width: 667px;
    min-width: 300px;
}
.search {
    width: 667px;
    height: 44px;
}
.header-search-checkbox {
    display: flex;
    margin-top: 10px;
}
.checkbox-block {
    display: flex;
    align-items: center;
    margin-right: 25px;
}
.checkbox-block-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    font-size: 22px;
    height: 14px;
}
.checkbox-text {
    font-size: 14px;
}

.header-menu{
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.header-menu-item-select {
    background: transparent;
    color: #fff;
    border: none;
}
.header-menu-item-image {
    margin-right: 5px;
}
.header-menu-item {
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.item-cart {
    position: absolute;
    top: -20px;
    left: -10px;
    font-size: 12px;
    padding: 0 10px;
    border-radius: 35%;
    background: #329DCC;
}
.block-cart {
    position: relative;
}

.wrapper{
    margin-left: 417px;
    margin-top: 40px;
}
.block_flex{
    display:flex;
    justify-content: space-between;

}

/* Заголовок Contact Us */

.title_contact{
    font-family: roboto;
    color: #386E95;
    margin-top: 60px;
    margin-bottom: 30px;
    size: 22px;
    line-height:20px;
}

.title_reach{
    font-family: roboto;
    font-style: normal;
    color: #386E95;
    margin-top: 60px;
    margin-bottom: 30px;
    size: 24px;
    line-height:20px;
}

/* Иконки слева от текста */
.section_icons_position{
    position: relative;
    padding: 0px 13px 0px 5px;
}
.section_icons_position::before{
    width: 13.33px;
    height: 10px;
    position: absolute;
    left: 5px;
}

/* Отступ от текста */
.service_info{
    margin-bottom: 42px;

    /* Отступ от номеров */
}
.phone_numbers{
    margin-bottom: 42px;

}
.reach{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px 0px 0px;
    gap: 64px;
    width: 388px;
    height: 420px;
    left: 1114px;
    top: 146px;
}

.reach_out{
    margin-right: 418px;

}
/* Размеры полей для ввода информации */
.input_data{
    box-sizing: border-box;
    height: 38px;
    width: 388px;
    top: 20px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.input_container{
    height: 144px;
    width: 388px;
}